<header>
    <div class="container-fluid mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark navbarTop">
            <div class="container">
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
                <!-- <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " href="#"><i class="bi bi-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><i class="bi bi-instagram"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><i class="bi bi-whatsapp"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><i class="bi bi-pinterest"></i></a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="row bg-dark rounded">
                            <div class="contributor-image col-4 pt-1">
                                <img src="/images/thought-catalog-o0Qqw21-0NI-unsplash.jpg"
                                    class="img-thumbnail rounded-circle" alt="contributor-image"
                                    style="height:70px; width:70px;">
                            </div>
                            <div class="contributor-info col">
                                <p class="fst-italic text-white"> Rockson Boateng Omane</p>
                                <p class="fst-italic text-white"> 29th August, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-light bg-light navbarDown">
            <div class="container">
                <div class="me-auto">
                    <a class="navbar-brand" href="#">BLOGGAS</a>
                </div>
                <div class="ms-auto">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-row ">
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2" href="/login">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2" href="/register">REGISTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2" href="#">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2" href="/add-blog">WRITE A BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-2" href="#">LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>