<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>
<body class="bg-light">
    <%- include('layouts/loggedheader'); -%>
   <main class="mt-5">
       <div class="container mt-5">
           <div class="container bg-light">
               <div class="contributor-blogs">
                   <h3 class="contributor-title text-center mb-3">My Blogs</h3>
                   <div class="container mb-3 bg-light">
                       <div class="writing-pad">
                           <h3 class="post-title">My post title</h3>
                           <div class="post-content">
                               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nihil commodi molestias officiis? Corrupti repudiandae magnam tempore, vero optio cum rerum temporibus enim eligendi tempora id non delectus corporis maxime ipsum ad libero explicabo? Beatae explicabo, repudiandae vitae praesentium dolor odit aliquam sed soluta est impedit voluptates et numquam magnam! Debitis nostrum aliquid quae. Tempore ex earum placeat aspernatur accusamus error eveniet voluptate distinctio eum iusto omnis provident modi voluptatem et voluptas at fuga, fugit, autem adipisci quaerat facilis voluptatum quidem nesciunt dolor? Ipsum asperiores consequuntur facilis ut, in sint. Quas iure, distinctio eos maiores consequuntur odio, magni quia placeat earum quasi quam, ratione tempora error blanditiis architecto assumenda veritatis qui vel accusamus rem. Accusantium, necessitatibus possimus laboriosam, illo debitis exercitationem iure eaque esse illum dolor sapiente enim placeat excepturi laborum voluptates, reiciendis voluptatem soluta quis distinctio. Repellendus, atque? Asperiores veritatis illum natus, exercitationem corrupti sapiente iste aliquid id soluta illo reiciendis repellendus quia vero nisi sint esse laborum quasi voluptatibus a. Possimus in tempora provident aliquid corrupti sequi necessitatibus cum magnam totam ipsa, repellendus, dolorum saepe rem quo accusamus eligendi quod. Temporibus odit quasi reiciendis officia eos magnam sequi quidem numquam fugit, nam laborum dignissimos. Sit porro debitis suscipit.
                           </div>
                       </div>
                    </div>
               </div>
           </div>
       </div>
   </main>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>