<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>
<body class="bg-light">
    <%- include('layouts/loggedheader'); -%>
   <main class="mt-5">
       <div class="container mt-5">
           <div class="container bg-light">
               <div class="contributor-blogs">
                   <h3 class="contributor-title text-center mb-3">My thoughts for now</h3>
                   <div class="container mb-3 bg-light">
                       <div class="writing-pad">
                           <form action="/add-blog" method="POST" enctype="multipart/form-data">
                               <div class="control-group text-center">
                                   <label for="title" class = "d-none">Title</label>
                                   <input type="text" name="blogTitle" id="blogTitle" placeholder="Title" size="60">
                                </div>
                                <br>
                                <div class="control-group text-center">
                                    <label for="blogDetails" class="d-none">Details</label>
                                    <textarea name="blogDetails" id="blogDetails" cols="100" rows="20"></textarea>
                                </div>
                                <br>
                                <div class="control-group text-center">
                                    <input type="file" name="blogImage" id="blogImage">
                                </div>
                                <br>
                                <div class="control-group text-center">
                                <button type="submit" class="btn btn-primary text-end">Submit</button>
                                </div>
                        </form>
                       </div>
                    </div>
               </div>
           </div>
       </div>
   </main>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>