<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>
<body class="bg-light">
    <%- include('layouts/loggedheader'); -%>
    <main class="mt-5">
        <div class="container mt-5">
            <div class="container bg-light">
                <div class="contributor-blogs">
                    <h3 class="contributor-title text-center mb-3">Admin Watch</h3>
                    <div class="container mb-3 bg-light">
                        <div class="admin-table">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Contributors</th>
                                    <th scope="col">Number of Articles</th>
                                    <th scope="col">Date of last Post</th>
                                    <th scope="col">Details</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Rockson Boateng Omane</td>
                                    <td>5</td>
                                    <td>05/03/2022</td>
                                    <td><a href="#">Details</a></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Setina Tandoh</td>
                                    <td>3</td>
                                    <td>05/08/2022</td>
                                    <td><a href="#">Details</a></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Diana Bamfowaa Kwarteng</td>
                                    <td>8</td>
                                    <td>21/03/2022</td>
                                    <td><a href="#">Details</a></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">4</th>
                                    <td>Omane Fremah Vera</td>
                                    <td>6</td>
                                    <td>01/08/2022</td>
                                    <td><a href="#">Details</a></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>