<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>
<body class="bg-light">
    <header>
        <div class="container-fluid mb-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark navbarTop">
                <div class="container">
                    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
                    <!-- <span class="navbar-toggler-icon"></span>
                    </button> -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#"><i class="bi bi-facebook"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white " href="#"><i class="bi bi-twitter"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#"><i class="bi bi-instagram"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#"><i class="bi bi-whatsapp"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#"><i class="bi bi-pinterest"></i></a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <div class="row bg-dark rounded">
                                <div class="contributor-image col-4 pt-1">
                                    <img src="/images/thought-catalog-o0Qqw21-0NI-unsplash.jpg" class="img-fluid rounded-circle"
                                        alt="contributor-image" style="height:70px; width:70px;">
                                </div>
                                <div class="contributor-info col">
                                    <p class="fst-italic text-white"> ADMIN</p>
                                    <p class="fst-italic text-white"> 29th August, 2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-light bg-light navbarDown">
                <div class="container">
                    <div class="me-auto">
                        <a class="navbar-brand" href="#">BLOGGAS</a>
                    </div>
                    <div class="ms-auto">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-row ">
                            <li class="nav-item">
                                <a class="nav-link text-dark p-2" href="#">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark p-2" href="#">LOGIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark p-2" href="#">REGISTER</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark p-2" href="#">CONTACT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark p-2" href="#">WRITE A BLOG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark p-2" href="#">LOGOUT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
   <main class="mt-5">
       <div class="container mt-5">
           <div class="container bg-light">
               <div class="contributor-profile">
                   <div class="row">
                        <div class="contributor-image col-1">
                            <img src="/images/thought-catalog-o0Qqw21-0NI-unsplash.jpg" class="img-fluid rounded-circle" alt="contributor-image" style="height:60px; width: 60px;">
                        </div>
                        <div class="contributor-info col">
                            <p class="fst-italic">By Rockson Boateng Omane</p>
                            <p class="fst-italic">On 29th August 2022</p>
                        </div>
                    </div>
               </div>
               <div class="blog">
                   <h3 class="blog-title">A programmer is a Creator</h3>
                   <div class="blog-details mb-3">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam odio iure vitae laboriosam sint, nam rerum alias blanditiis mollitia commodi dignissimos eius pariatur aperiam distinctio minus tempora consequuntur in nesciunt doloribus corporis architecto vel fugit ullam rem. Rem laborum inventore repellat blanditiis soluta beatae iste atque, quisquam facilis maiores odit qui modi, rerum animi tempore error ipsa officia deleniti voluptate pariatur libero? Numquam libero nisi natus velit nam doloribus vero tempora esse assumenda repellendus non repudiandae ullam voluptate quibusdam temporibus error voluptas, eos facere debitis, earum ex. Iusto harum amet nihil, saepe aperiam iste quas aliquam nesciunt voluptas ullam tenetur perferendis sed delectus modi nostrum reiciendis dolorem reprehenderit totam consequuntur odio. Vero iste at illo ex ratione nobis assumenda sapiente! Iusto odit tempore quasi quae, tenetur porro molestiae nostrum beatae reprehenderit voluptas velit, repellat blanditiis totam rem maiores accusantium atque soluta ipsum ipsa molestias, in nobis culpa corporis pariatur. Esse necessitatibus delectus corporis architecto veritatis quisquam, nesciunt ducimus amet deserunt doloremque tempora ut temporibus culpa commodi non vitae tenetur modi, dicta quo explicabo odio. In vel blanditiis laboriosam accusantium consectetur repellat deleniti cum sed, tempore consequatur, dolores quidem maxime hic distinctio numquam consequuntur delectus possimus optio eaque molestias ullam architecto?
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam odio iure vitae laboriosam sint, nam rerum alias blanditiis mollitia commodi dignissimos eius pariatur aperiam distinctio minus tempora consequuntur in nesciunt doloribus corporis architecto vel fugit ullam rem. Rem laborum inventore repellat blanditiis soluta beatae iste atque, quisquam facilis maiores odit qui modi, rerum animi tempore error ipsa officia deleniti voluptate pariatur libero? Numquam libero nisi natus velit nam doloribus vero tempora esse assumenda repellendus non repudiandae ullam voluptate quibusdam temporibus error voluptas, eos facere debitis, earum ex. Iusto harum amet nihil, saepe aperiam iste quas aliquam nesciunt voluptas ullam tenetur perferendis sed delectus modi nostrum reiciendis dolorem reprehenderit totam consequuntur odio. Vero iste at illo ex ratione nobis assumenda sapiente! Iusto odit tempore quasi quae, tenetur porro molestiae nostrum beatae reprehenderit voluptas velit, repellat blanditiis totam rem maiores accusantium atque soluta ipsum ipsa molestias, in nobis culpa corporis pariatur. Esse necessitatibus delectus corporis architecto veritatis quisquam, nesciunt ducimus amet deserunt doloremque tempora ut temporibus culpa commodi non vitae tenetur modi, dicta quo explicabo odio. In vel blanditiis laboriosam accusantium consectetur repellat deleniti cum sed, tempore consequatur, dolores quidem maxime hic distinctio numquam consequuntur delectus possimus optio eaque molestias ullam architecto?
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam odio iure vitae laboriosam sint, nam rerum alias blanditiis mollitia commodi dignissimos eius pariatur aperiam distinctio minus tempora consequuntur in nesciunt doloribus corporis architecto vel fugit ullam rem. Rem laborum inventore repellat blanditiis soluta beatae iste atque, quisquam facilis maiores odit qui modi, rerum animi tempore error ipsa officia deleniti voluptate pariatur libero? Numquam libero nisi natus velit nam doloribus vero tempora esse assumenda repellendus non repudiandae ullam voluptate quibusdam temporibus error voluptas, eos facere debitis, earum ex. Iusto harum amet nihil, saepe aperiam iste quas aliquam nesciunt voluptas ullam tenetur perferendis sed delectus modi nostrum reiciendis dolorem reprehenderit totam consequuntur odio. Vero iste at illo ex ratione nobis assumenda sapiente! Iusto odit tempore quasi quae, tenetur porro molestiae nostrum beatae reprehenderit voluptas velit, repellat blanditiis totam rem maiores accusantium atque soluta ipsum ipsa molestias, in nobis culpa corporis pariatur. Esse necessitatibus delectus corporis architecto veritatis quisquam, nesciunt ducimus amet deserunt doloremque tempora ut temporibus culpa commodi non vitae tenetur modi, dicta quo explicabo odio. In vel blanditiis laboriosam accusantium consectetur repellat deleniti cum sed, tempore consequatur, dolores quidem maxime hic distinctio numquam consequuntur delectus possimus optio eaque molestias ullam architecto?
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam odio iure vitae laboriosam sint, nam rerum alias blanditiis mollitia commodi dignissimos eius pariatur aperiam distinctio minus tempora consequuntur in nesciunt doloribus corporis architecto vel fugit ullam rem. Rem laborum inventore repellat blanditiis soluta beatae iste atque, quisquam facilis maiores odit qui modi, rerum animi tempore error ipsa officia deleniti voluptate pariatur libero? Numquam libero nisi natus velit nam doloribus vero tempora esse assumenda repellendus non repudiandae ullam voluptate quibusdam temporibus error voluptas, eos facere debitis, earum ex. Iusto harum amet nihil, saepe aperiam iste quas aliquam nesciunt voluptas ullam tenetur perferendis sed delectus modi nostrum reiciendis dolorem reprehenderit totam consequuntur odio. Vero iste at illo ex ratione nobis assumenda sapiente! Iusto odit tempore quasi quae, tenetur porro molestiae nostrum beatae reprehenderit voluptas velit, repellat blanditiis totam rem maiores accusantium atque soluta ipsum ipsa molestias, in nobis culpa corporis pariatur. Esse necessitatibus delectus corporis architecto veritatis quisquam, nesciunt ducimus amet deserunt doloremque tempora ut temporibus culpa commodi non vitae tenetur modi, dicta quo explicabo odio. In vel blanditiis laboriosam accusantium consectetur repellat deleniti cum sed, tempore consequatur, dolores quidem maxime hic distinctio numquam consequuntur delectus possimus optio eaque molestias ullam architecto?
                   </div>
               </div>
           </div>
       </div>
   </main>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>