<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>

<body class="bg-light">
    <%- include('layouts/header'); -%>
   <main class="mt-5">
       <div class="container mt-5">
           <div class="container bg-light">
               <div class="contributor-blogs">
                   <h3 class="contributor-title text-center mb-3">My Blogs</h3>
                   <div class="container mb-3 bg-light">
                        <div class="row d-flex justify-content-between flex-wrap">
                            <div class="card me-2 mb-3" style="width: 18rem;">
                                <img src="/images/andrew-neel-cckf4TsHAuw-unsplash.jpg" class="card-img-top" alt="andrew">
                                <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <div class="card me-2 mb-3" style="width: 18rem;">
                                <img src="/images/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg" class="card-img-top" alt="glenn">
                                <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <div class="card me-2 mb-3 " style="width: 18rem;">
                                <img src="/images/retrosupply-jLwVAUtLOAQ-unsplash.jpg" class="card-img-top" alt="retro">
                                <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <div class="card me-5 " style="width: 18rem;">
                                <img src="/images/retrosupply-jLwVAUtLOAQ-unsplash.jpg" class="card-img-top" alt="retro">
                                <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <div class="card me-5 " style="width: 18rem;">
                                <img src="/images/andrew-neel-cckf4TsHAuw-unsplash.jpg" class="card-img-top" alt="andrew">
                                <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <div class="card me-2 " style="width: 18rem;">
                                <img src="/images/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg" class="card-img-top" alt="glenn">
                                <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
   </main>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>