<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>
<body>
    <div class="container bg-white" id="pageContainer">
        <div class="container bg-light d-flex border-0 border-secondary rounded shadow-sm" id="loginContainer">
            <div class=" container">
                <div class="container mb-3 ">
                        <nav class="navbar navbar-light bg-light navbarDown">
                            <div class="container">
                                <div class="container mt-3 d-flex justify-content-center">
                                    <a class="navbar-brand font-monospace fs-1" href="#">BLOGGAS</a>
                                </div>
                            </div>
                        </nav>
                </div>
                <div class="container mb-3">
                    <p class="d-flex justify-content-center">Welcome to &nbsp <a class="text-dark" href="#">BLOGGAS</a></p>
                    <p class="d-flex justify-content-center">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                        Blanditiis deleniti saepe odit ratione, quod maxime cum sit.
                    </p>
                    <p class="d-flex justify-content-center">Have an account? &nbsp 
                       <button class="btn-secondary rounded"><a class="text-white text-decoration-none" href="#">Log In</a> </button>
                        
                        <br>
                    </p>  
                </div>
                <div class="container mb-3">
                    <form action="/register" method="post">
                        <div class="row">
                            <div class="form-floating mb-3 col">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Rockson" name="firstname">
                                <label for="floatingInput">First name</label>
                            </div>
                            <div class="form-floating mb-3 col">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Omane" name="surname">
                                <label for="floatingInput">Surname</label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                            <label for="floatingInput" >Email</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                            <label for="floatingPassword">Password</label>
                        </div>
                            
                        <button class="btn btn-secondary" type="submit">Register </button>
                    </form>
                </div>
            </div>
            <div class="container mb-3 pt-3">
                <img src="/images/thought-catalog-o0Qqw21-0NI-unsplash.jpg" class="img-fluid" alt="Stacked books" style="height:100%; width: 100%;">
            </div>
        </div>
    </div>    

    <%- include('layouts/scripts'); -%>
</body>
</html>