.ImageWithText{
    position: relative;
    text-align: center;
    color:white;
}

#textOnImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

#loginContainer{
    position: relative;
    text-align: center;
    
}

#pageContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}
/* this shortens long lines with three dots at the end */
.card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

 